<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618657201081-6h5r0i0887mjvhm1jovi5ne0u3ldraqb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618657201081-6h5r0i0887mjvhm1jovi5ne0u3ldraqb</string>
	<key>API_KEY</key>
	<string>AIzaSyAXYEdmPzU9rr12_tIrDDEuCK_0Q5a1mMk</string>
	<key>GCM_SENDER_ID</key>
	<string>618657201081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ucdavis.cs.AggieCashStudent</string>
	<key>PROJECT_ID</key>
	<string>ecs199aggiecashapp-78a04</string>
	<key>STORAGE_BUCKET</key>
	<string>ecs199aggiecashapp-78a04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618657201081:ios:5ad1caf25094afcdd5d468</string>
	<key>DATABASE_URL</key>
	<string>https://ecs199aggiecashapp-78a04.firebaseio.com</string>
</dict>
</plist>